body {
    background: linear-gradient(50deg, purple, cyan, blue);
    background-size: 300vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

}
@keyframes slide {

    0% {
        background-position: left;
    }

    100% { 
        background-position: right;
    }
}

.btn {
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 640px;
    transition: all 1s ease;
}
.btn img {
    height: 100%;
    width: 100%;
}

#check:checked ~ .blu {
    left: 1px;
    transform: rotate(0deg);
    top: 1px;
    left: 1px;
    height: 100%;
    width: 100%;
}

#check:checked ~ label .btn{
    left: 94%;
}

#check:checked ~ .about {
    top: -100px;
}

#check:checked ~ .about1 {
    top: -220px;
}

.Name {
    width: 500px;
    height: 40px;
    top: 50px;
    z-index: 3;
    color: white;
    font-size: 40px;
    text-align: center;
    left: 100px;
    transition: .5s ;
    position: absolute;
    overflow: hidden;
  
}
.about1 { 
    width: 500px;
    height: 300px;
    top: 150px;
    z-index: 3;
    color: black;
    font-size: 40px;
    text-align: center;
    left: 100px;
    transition: .5s ;
    position: absolute;
    font-size: 18px;
}

.about {
    width: 500px;
    height: 40px;
    top: 90px;
    z-index: 3;
    color: black;
    font-size: 40px;
    text-align: center;
    left: 100px;
    transition: .5s ;
    position: absolute;
    font-size: 10px;
    
}

#check:checked ~ .Name {
    top: -50px
}

.blu:hover{
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red;
}


.blu {
    position: absolute;
    border: 1px red solid;
    width: 2000px;
    height: 1500px;
    background: linear-gradient(50deg, black, red, maroon);
    background-size: 300vh;
    background-position: center;
    background-attachment: fixed;
    border-radius: 5px;
    transform: rotate(20deg);
    left: -95%;
    top: -90%;
    transition: all 1s ease;
    z-index: 1;
}

-->



.profile {
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px goldenrod solid;
    border-radius: 100px ;
    transition: 1.5s;
    background: linear-gradient(50deg, rgb(21, 81, 27), rgb(33, 57, 33), rgb(9, 77, 9), rgb(10, 54, 23), rgb(5, 102, 5));
    z-index: 3;
    background-size: 400%;
    
}



.profile:hover {
    height: 350px;
    transition: 1.5s;
    box-shadow: 0px 0px 5px goldenrod,
    0px 0px 25px goldenrod,
    0px 0px 45px goldenrod;
 
}

@keyframes linearanimation {

    0% {
       
        background-position: left;
        
    }
    100% {
       
        background-position: right;
    }
   
}   




.me {
    width: 130px;
    height:130px;
    border: 1px goldenrod solid;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    background: url(onesimus.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
#crown {
    height: 160px;
    width: 160px;
    left: -15px;
    top: -80px;
    position: absolute;
    background: url(crown.png);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    opacity: 0;
    transition:1.5s

}
.profile:hover #crown{
    opacity: 1;
    transition: 1.5s;
    
}


.profile:hover ~ .staff {
    opacity: 1;
    left: 48%;
    transition: 1.5s;
    rotate: 310deg;

    
}

#check {
    display: none;
}

#check:checked ~ .loki {
    margin-left: 0px;
    
}
.staff {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    rotate: -310deg;
    z-index: 2;
    width: 500px;
    height: 400px;
    margin-left: -2100;
    top: 20%;
    opacity: 0;
   
    transition: 1.5s;
}
.profile:hover .me {
    box-shadow: 0px 0px 5px goldenrod,
    0px 0px 25px goldenrod,
    0px 0px 45px goldenrod;
    transition: 1.5s;
    
}



#check:checked ~ .staff {
    margin-left: 0px;
}


.loki {
    margin-left: -1700px;
    transition: all .5s ease;
}

.videoloki {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: -20%;
    height: 50%;
    background: url(Natalie\ Holt\ -\ TVA\ \(From\ \ Loki\ \).mp4);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    top: -170px;
    border-radius: 100px;
    transition: all 1.5s;

}

.profile:hover ~ .videoloki {
    opacity: 1;
    transition: all 1.5s;
    z-index: 2;
}

.movie {
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    color: white;
    position: absolute;
    margin-left: -2840px;
    margin-top: -450px;
    transition: all .5s ease;
    z-index: 2;
}

#check:checked ~ .movie {
    margin-left: -840px;
}

.loki:hover ~ .movie {
    margin-top: -950px;
}

.con {
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    color: white;
    position: absolute;
    margin-left: 840px;
    margin-top: -450px;
}

.email {
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    position: absolute;
    margin-left: 840px;
    margin-top: -200px;
}
